{% extends "base.html" %}

{% block content %}
    <div class="container mt-5">
        <h1>Create Training Log</h1>
        <form method="post" action="">
            {% csrf_token %}
            <div class="row">
                <div class="col-4">
                Date: {{ form.session_date }}
                </div>
                <div class="col-4">
                Trainee: {{ form.trainee.get_full_name }}
                </div>
                <div class="col-4">
                Course: {{ form.course }}
                </div>
            </div><br>
    <div class="row">
                <div class="col-4">
                    <div class="mb-3">
                        <label for="id_position" class="form-label">Position</label>
                        {{ form.position }}
                    </div>
                </div>
                <div class="col-4">
                    <div class="mb-3">
                        <label for="id_type" class="form-label">Type</label>
                        {{ form.type }}
                    </div>
                </div>
                <div class="col-4">
                    <div class="mb-3 form-check">
                        <label for="id_result" class="form-check-label">Training Passed</label>
                        {{ form.result }}
                    </div>
                </div>
            </div>

            <!-- Categories -->
        <table class="table">
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Positives</th>
                    <th>Negatives</th>
                    <th>Rating</th>
                </tr>
            </thead>
        <tr>
            <td>Theory</td>
            <td>{{ form.theory_positives }}</td>
            <td>{{ form.theory_negatives }}</td>
            <td>{{ form.theory }}</td>
        </tr>
        <tr>
            <td>Phraseology</td>
            <td>{{ form.phraseology_positives }}</td>
            <td>{{ form.phraseology_negatives }}</td>
            <td>{{ form.phraseology }}</td>
        </tr>
        <tr>
            <td>Coordination</td>
            <td>{{ form.coordination_positives }}</td>
            <td>{{ form.coordination_negatives }}</td>
            <td>{{ form.coordination }}</td>
        </tr>
        <tr>
            <td>Tag Management</td>
            <td>{{ form.tag_management_positives }}</td>
            <td>{{ form.tag_management_negatives }}</td>
            <td>{{ form.tag_management }}</td>
        </tr>
        <tr>
            <td>Situational Awareness</td>
            <td>{{ form.situational_awareness_positives }}</td>
            <td>{{ form.situational_awareness_negatives }}</td>
            <td>{{ form.situational_awareness }}</td>
        </tr>
        <tr>
            <td>Traffic Flow</td>
            <td>{{ form.traffic_flow_positives }}</td>
            <td>{{ form.traffic_flow_negatives }}</td>
            <td>{{ form.traffic_flow }}</td>
        </tr>
        <tr>
            <td>Separation</td>
            <td>{{ form.separation_positives }}</td>
            <td>{{ form.separation_negatives }}</td>
            <td>{{ form.separation }}</td>
        </tr>
        <tr>
            <td>Ability to Work Under Pressure</td>
            <td>{{ form.ability_to_work_under_pressure_positives }}</td>
            <td>{{ form.ability_to_work_under_pressure_negatives }}</td>
            <td>{{ form.ability_to_work_under_pressure }}</td>
        </tr>
        <tr>
            <td>Motivation</td>
            <td>{{ form.motivation_positives }}</td>
            <td>{{ form.motivation_negatives }}</td>
            <td>{{ form.motivation }}</td>
        </tr>
    </table>
    <div class="row">
        <div class="col-6">
                <label for="id_final_comment" class="form-label">Final Comment</label>
                {{ form.final_comment }}
        </div>
        <div class="col-6">
                <label for="id_internal_remarks" class="form-label">Internal Remarks</label>
                {{ form.internal_remarks }}
        </div>
    </div>
    <div class="row">
        <label for="id_next_step" class="form-label">Next Step</label>
                {{ form.next_step }}
    </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}