<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% extends "base.html" %}

{% block content %}
    <div class="container mt-5">
        <h1>{{ form.trainee.first_name }} {{ form.trainee.last_name }}</h1>
            <div class="row">
                <div class="col-12">
                Date: {{ form.session_date }}
                </div>
            </div><br>
    <div class="row">
                <div class="col-4">
                    <div class="mb-3">
                        <label for="id_position" class="form-label">Position: </label>
                        {{ form.position }}
                    </div>
                </div>
                <div class="col-4">
                    <div class="mb-3">
                        <label for="id_type" class="form-label">Type: </label>
                        {{ form.get_type_display }}
                    </div>
                </div>
                <div class="col-4">
                    <div class="mb-3 form-check">
                        <label for="id_result" class="form-check-label">Training Passed: </label>
                        {{ form.result }}
                    </div>
                </div>
            </div>

            <!-- Categories -->
        <table class="table">
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Positives</th>
                    <th>Negatives</th>
                    <th>Rating</th>
                </tr>
            </thead>
        <tr>
            <td>Theory</td>
            <td>{{ form.theory_positives }}</td>
            <td>{{ form.theory_negatives }}</td>
            <td>{{ form.theory }}</td>
        </tr>
        <tr>
            <td>Phraseology / Radiotelephony</td>
            <td>{{ form.phraseology_positives }}</td>
            <td>{{ form.phraseology_negatives }}</td>
            <td>{{ form.phraseology }}</td>
        </tr>
        <tr>
            <td>Coordination</td>
            <td>{{ form.coordination_positives }}</td>
            <td>{{ form.coordination_negatives }}</td>
            <td>{{ form.coordination }}</td>
        </tr>
        <tr>
            <td>Tag Management / FPL Handling</td>
            <td>{{ form.tag_management_positives }}</td>
            <td>{{ form.tag_management_negatives }}</td>
            <td>{{ form.tag_management }}</td>
        </tr>
        <tr>
            <td>Situational Awareness</td>
            <td>{{ form.situational_awareness_positives }}</td>
            <td>{{ form.situational_awareness_negatives }}</td>
            <td>{{ form.situational_awareness }}</td>
        </tr>
        <tr>
            <td>Problem Recognition</td>
            <td>{{ form.problem_recognition_positives }}</td>
            <td>{{ form.problem_recognition_negatives }}</td>
            <td>{{ form.problem_recognition }}</td>
        </tr>
        <tr>
            <td>Traffic Planning</td>
            <td>{{ form.traffic_planning_positives }}</td>
            <td>{{ form.traffic_planning_negatives }}</td>
            <td>{{ form.traffic_planning }}</td>
        </tr>
        <tr>
            <td>Reaction</td>
            <td>{{ form.reaction_positives }}</td>
            <td>{{ form.reaction_negatives }}</td>
            <td>{{ form.reaction }}</td>
        </tr>
        <tr>
            <td>Separation</td>
            <td>{{ form.separation_positives }}</td>
            <td>{{ form.separation_negatives }}</td>
            <td>{{ form.separation }}</td>
        </tr>
        <tr>
            <td>Efficiency</td>
            <td>{{ form.efficiency_positives }}</td>
            <td>{{ form.efficiency_negatives }}</td>
            <td>{{ form.efficiency }}</td>
        </tr>
        <tr>
            <td>Ability to Work Under Pressure</td>
            <td>{{ form.ability_to_work_under_pressure_positives }}</td>
            <td>{{ form.ability_to_work_under_pressure_negatives }}</td>
            <td>{{ form.ability_to_work_under_pressure }}</td>
        </tr>
        <tr>
            <td>Motivation</td>
            <td>{{ form.motivation_positives }}</td>
            <td>{{ form.motivation_negatives }}</td>
            <td>{{ form.motivation }}</td>
        </tr>
    </table>
    <div class="row">
        <div class="col-6">
                <label for="id_final_comment" class="form-label">Final Comment: </label>
                {{ form.final_comment }}
        </div>
        <div class="col-6">
                <label for="id_internal_remarks" class="form-label">Internal Remarks: </label>
                {{ form.internal_remarks }}
        </div>
    </div>
    <div class="row">
    <div class="col-12">
        <label for="id_next_step" class="form-label">Next Step: </label>
                {{ form.next_step }}
    </div>
</div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}</title>
</head>
<body>

</body>
</html>