{% load tags %}

<div
    x-show="selectedCourseId === '{{ course.id }}'"
    x-transition:enter="transition ease-out duration-200"
    x-transition:enter-start="opacity-0"
    x-transition:enter-end="opacity-100"
    x-data="{
            courseId: '{{ course.id }}',
            openPastTraineeModal(courseId) {
            $dispatch('open-past-trainee-modal', { courseId: courseId });
            }
            }"
    class="bg-base-100 rounded-xl shadow-md border semantic-neutral-border mt-4">

    <div class="p-4 bg-base-200 border-b border-base-content/20 flex justify-between items-center rounded-t-xl">
        <div>
            <h3 class="font-medium text-lg text-base-content">{{ course.name }}</h3>
            <p class="text-sm text-base-content/60">{{ course.get_position_display }} {{ course.get_type_display }}</p>
        </div>
        <div>
            <button
                @click="openPastTraineeModal(courseId)"
                class="text-sm semantic-blue-text hover:opacity-80 flex items-center cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" fill="none" viewBox="0 0 24 24"
                     stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m7.875 14.25 1.214 1.942a2.25 2.25 0 0 0 1.908 1.058h2.006c.776 0 1.497-.4 1.908-1.058l1.214-1.942M2.41 9h4.636a2.25 2.25 0 0 1 1.872 1.002l.164.246a2.25 2.25 0 0 0 1.872 1.002h2.092a2.25 2.25 0 0 0 1.872-1.002l.164-.246A2.25 2.25 0 0 1 16.954 9h4.636M2.41 9a2.25 2.25 0 0 0-.16.832V12a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 12V9.832c0-.287-.055-.57-.16-.832M2.41 9a2.25 2.25 0 0 1 .382-.632l3.285-3.832a2.25 2.25 0 0 1 1.708-.786h8.43c.657 0 1.281.287 1.709.786l3.284 3.832c.163.19.291.404.382.632M4.5 20.25h15A2.25 2.25 0 0 0 21.75 18v-2.625c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125V18a2.25 2.25 0 0 0 2.25 2.25Z" />
                </svg>
                Past Trainees
            </button>
            <button
                @click="$dispatch('open-manage-mentors-modal', { courseId: courseId, course: {
                            id: '{{ course.id }}',
                            name: '{{ course.name|escapejs }}',
                            position: '{{ course.position }}',
                            mentor_group_name: '{{ course.mentor_group.name|escapejs }}'
                        }})"
                class="text-sm semantic-blue-text hover:opacity-80 flex items-center cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" fill="none" viewBox="0 0 24 24"
                     stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"/>
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"/>
                </svg>
                Manage Mentors
            </button>
        </div>
    </div>

    <!-- Trainees List -->
    <div class="p-4">
        {% with course_trainees=coursedict|get_item:course %}
            {% if course_trainees %}
                {% include "components/trainee/trainee_list.html" with course=course trainees=course_trainees %}
            {% else %}
                {% include "components/trainee/empty_state.html" with course=course %}
            {% endif %}
        {% endwith %}
    </div>
</div>