<div class="py-8 text-center">
  <svg xmlns="http://www.w3.org/2000/svg" class="mx-auto h-12 w-12 semantic-gray-text" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
  </svg>
  <h3 class="mt-2 text-sm font-medium text-base-content">No endorsements found</h3>
  <p class="mt-1 text-sm text-base-content/60">There are no {{ group_name }} endorsements to display.</p>
</div>