{% load endorsement_tags %}

<div class="flex items-center">
  <div class="mr-2">
    <div class="relative h-2 w-24 semantic-gray-bg rounded-full overflow-hidden">
      <div class="absolute top-0 left-0 h-full rounded-full
                  {% if activity >= min_hours %}
                    semantic-green-bg
                  {% elif activity >= half_min_hours %}
                    semantic-yellow-bg
                  {% else %}
                    semantic-red-bg
                  {% endif %}"
           style="width: {{ bar_width }}%">
      </div>
    </div>
  </div>

  <span class="text-sm font-medium
               {% if activity >= min_hours %}
                 semantic-green-text
               {% elif activity >= half_min_hours %}
                 semantic-yellow-text
               {% else %}
                 semantic-red-text
               {% endif %}">
    <span data-activity-hours="{{ activity }}">{{ activity }} hours</span>
  </span>
</div>