<div class="flex gap-2">
  <div class="dropdown dropdown-end">
    <button class="btn btn-outline btn-sm">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 4a1 1 0 011-1h16a1 1 0 011 1v2.586a1 1 0 01-.293.707l-6.414 6.414a1 1 0 00-.293.707V17l-4 4v-6.586a1 1 0 00-.293-.707L3.293 7.293A1 1 0 013 6.586V4z" />
      </svg>
      Filter
    </button>
    <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
      <li><button x-data @click="$dispatch('filter-set', {filter: 'all'})">Show All</button></li>
      <li><button x-data @click="$dispatch('filter-set', {filter: 'low'})">Low Activity Only</button></li>
      <li><button x-data @click="$dispatch('filter-set', {filter: 'removal'})">Pending Removal</button></li>
    </ul>
  </div>
</div>