{% extends "base.html" %}

{% block content %}
<h1>Courses</h1>
<div class="container">
    {% if error %}
        <div class="row">
            <div class="col">
                <div class="alert alert-danger" role="alert">
                    Error fetching data from the VATSIM API. Try again in a few minutes.
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row">
        {% for course, res in courses.items %}
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ course.name }}</h5>
                        <p class="card-text">{{ course.get_position_display }} {{ course.get_type_display }}</p>
                        {% if res.entered %}
                            <a class="btn btn-outline-danger btn-sm" href="{% url 'lists:join_leave_list' course.id %}" data-bs-toggle="modal" data-bs-target="#confirmModal"
   data-href="{% url 'lists:join_leave_list' course.id %}" data-message="Are you sure you want to leave the waiting list of {{ course }}?">Leave</a>
                        {% else %}
                            {% if not res.hours_reached %}
                                You have not reached the required hours to join this course.
                            {% elif rating_reached and course.type == "RTG" %}
                                You can only join one rating course at a time.
                            {% else %}
                            <a class="btn btn-outline-info btn-sm" href="{% url 'lists:join_leave_list' course.id %}">Join (currently disabled)</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% include "modal.html" %}
{% endblock %}
