<div class="text-center py-12">
    <svg xmlns="http://www.w3.org/2000/svg" class="mx-auto h-12 w-12 semantic-gray-text"
         fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"/>
    </svg>
    <h3 class="mt-2 text-sm font-medium text-base-content">No trainees found</h3>
    <p class="mt-1 text-sm text-base-content/60">You don't have any trainees for this course
        yet.</p>
    <div class="mt-6">
        <form method="POST" class="flex items-end space-x-2 justify-center">
            {% csrf_token %}
            <input type="hidden" name="course_id" value="{{ course.id }}">
            <div>
                <input placeholder="VATSIM ID" type="number" name="username"
                       id="username-empty-{{ course.id }}" class="input">
            </div>
            <button type="submit" class="btn btn-primary">
                Add Trainee
            </button>
        </form>
    </div>
</div>