<div id="accordion" class="w-100">
    {% for course, logs in courses.items %}
      <div class="card">
        <div class="card-header">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{ course.id }}"
                    aria-expanded="false" aria-controls="collapse{{ course.id }}">
              {{ course }} {{ course.get_position_display }}
            </button>
          </h5>
        </div>

        <div id="collapse{{ course.id }}" class="collapse" data-parent="#accordion">
          <div class="card-body">
            {% for form in logs %}
        {% include "log_form.html" with form=form render_internal=render_internal %}
            {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}
</div>
