{% extends "base.html" %}
{% load tags %}


{% block content %}
<h2>{{ trainee.first_name }} {{ trainee.last_name }} - {{ trainee.username }}</h2>

<div class="container">
<h4>Active Courses</h4>
{% include "trainee/_course_logs.html" with courses=active %}
</div>

<div class="container">
<h4>Inactive Courses</h4>
{% include "trainee/_course_logs.html" with courses=inactive %}
</div>


<div class="row">
    <div class="col-6">
        <h4>Comments</h4>
        {% for comment in comments %}
            <p>{{ comment.text }}</p>
            {{ comment.author.first_name }} {{ comment.author.last_name }}, {{ comment.date_added|format_date }}
            <hr>
        {% endfor %}
    </div>
    <div class="col-6">
        <h4>Actions</h4>
        <form method="post" action="">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_text" class="form-label">Add Comment</label><br>
        {{ form.text }}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
    </div>
    </div>

{% endblock %}