<div class="container mt-4">
    <h4>Active Moodle Courses</h4>
    <table class="table">
        <thead class="">
            <tr>
                <th>Course Name</th>
                <th>Completion Status</th>
                <th>Course ID</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody>
            {% for moodle in moodles %}
                <tr>
                    <td>{{ moodle.course }}</td>
                    <td>
                        {% if moodle.passed %}
                            <span class="badge badge-success">Passed</span>
                        {% else %}
                            <span class="badge badge-danger">Not Passed</span>
                        {% endif %}
                    </td>
                    <td>{{ moodle.id }}</td>
                    <td><a href="{{ moodle.link }}" target="_blank" class="btn btn-primary btn-sm">View Course</a></td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4" class="text-center">No active courses found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>